<h2>Available drones</h2>




<div>


  {{#each response}}

    {{!-- <h4>{{this.name}}</h4> --}}
    <h4><a href="/drones/{{this._id}}">{{this.name}}</a></h4>
    <h4><a href="/drones/{{this._id}}">{{this.propellers}}</a></h4>
    <h4><a href="/drones/{{this._id}}">{{this.maxSpeed}}</a></h4>
     <h4><a href="/drones/<oneDroneId>/edit">edit page</a></h4>

  {{/each}}

</div>